.containerone{
	margin-top: 120PX;
		background-color: hsla(0, 100%, 100%, 1.0);
	border: medium solid #00CCFF;
	
}


.wide{
	width: 80%

}

.rowW.panel{
	width: 100%;
}
.rowW .panel-body{
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.panhead{
	background-color: hsla(13, 96%, 62%, 1.0);
}

.rowW{
	padding-bottom: 5px;
	
}

#sectionone p{
	text-align:justify;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:400;
}