@charset "utf-8";
/* CSS Soc */
.soc1{
	margin-top:120px;
	background-image:url(../images/comBackground.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-size:40%;
	background-origin:padding-box;
	}
.soc2{
	width:60%;
	}
.soc2 p{
	text-decoration:blink;
	text-align:justify;
	font:aclonica;
	color:hsla(220,100%,30%,1);
	}
.soc2 h4{
	text-align:left;
	font-size:24px;
	font-variant:small-caps;
	font-weight:500;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color:hsla(0,0%,0%,1);
	}
.soc2 .panel-default{
}
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

.wideP{
	width:70%;
	border-color:hsla(180,100%,70%,1);
}
.wideP a{
	text-decoration:none;
	color:hsla(0,0%,0%,1);
}
.wideP a:hover {
    color: #0099FF;
}