@charset "utf-8";
/* CSS Document */
.futureCon{
	margin-top:5px;
	border: medium solid #0099FF;
	border-radius: 10px;

}
.futureCon p{
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#333366;
}
.futureCon h3{
	text-align:center;
	font:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: hsla(225,100%,40%,1);
}

.faciCon {
	margin-top:120px;
	border: medium solid #0099FF;
	border-radius: 10px;
	padding:5px;
}
.faciCon h3 {
		text-align:center;
	font:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color:hsla(120,100%,30%,1);
	font-weight:300;
	
}
.faciCon p {
	text-align:left;
	text-justify:auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#006600;
	padding-left:20px;
	padding-right:20px;
}
.faciCon h4 {
	text-justify:auto;
	font:window;
	font-weight:200;
	color:hsla(120,100%,40%,1);
	padding:5px;
 text-align:center;
	text-decoration:overline;
	font-family:cabin-sketch;
	font-weight:600;  
    
}
