@charset "utf-8";
/* CSS Document */
.MGT{
	background-image:url(../images/Academic/MgtConBack.png);
	background-repeat:no-repeat;
	background-position:right;
	background-size:50%;
	}

.mgtCon1{
	margin-top:90px;
	
}
.mgtCon1 p{
	text-decoration:blink;
	text-align:justify;
	font:aclonica;
	color:hsla(220,100%,30%,1);
	width:70%;
	}
.mgtCon1 h4{
	text-align:left;
	font-size:24px;
	font-variant:small-caps;
	font-weight:500;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color:hsla(0,0%,0%,1);
	}
.wideP{
	width:70%;
	border-color:hsla(96,100%,50%,1);
}
.wideP a{
	text-decoration:none;
	color:hsla(0,0%,0%,1);
}
.wideP a:hover {
    color: #00CC00;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}