@charset "utf-8";
/* CSS Document */

.conEvents{
	margin-top:125px;
	background-color:hsla(0,0%,100%,1);
	border: medium solid #0099FF;
	border-radius: 10px;
	}
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}
.p1{
	width:100%;
	}
.tweets{
	max-height:300px;
	}
.galerycon1{
	margin-top:120px;
	background-color: hsla(80,100%,70%,0.5);
	position: relative;
	border: medium solid #0099FF;
	border-radius: 10px;
	padding-bottom:30px;
	padding-top:30px
	}

.imgec1 .imgec2 .imgec3   .imgec4 {
	padding-left:4px;
	padding-right:4px;
}
.galaryhead{
padding-left:5px;
padding-bottom:15px;
position:relative;
}

.vdoGallery{
	background-color: hsla(80,100%,70%,0.5);
	border: medium solid #0099FF;
	border-radius: 10px;
	margin-top:5px;
	padding-bottom:30px;
	padding-top:30px
	}